    <div nz-col *ngFor="let tag of this.pages[0].tags | keyvalue">
      <nz-card [nzBorderless]="false"
                nzTitle="{{tag.key}}"
                [nzLoading]="loading">
              <button class="widget {{tag.key}}Tag"
                    *ngFor="let widget of tag.value"
                    (click)="goToTagInPage($event, widget.metaData.buttonIndex, tag.key)"
                    id="{{tag.key}}{{widget.metaData.buttonIndex}}"
                    #tagButton>
            <img [src]="icons.getSrc(tag.key)"/>{{widget.name}}
          </button>
      </nz-card>
  </div>
