<!-- <div nz-row> -->
    <div nz-col *ngFor="let widget of this.widgets">
        <nz-card [nzBorderless]="false"
        nzTitle="{{widget.title}}"
        [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
        [nzLoading]="loading">
            <button nz-button nzShape="round"
            *ngFor="let tag of widget.content"
            (click)="goToTagInPage(tag.index)"><img [src]="getImgSrc(widget.title)"/>{{tag.tag}}</button>
        </nz-card>
        <ng-template #actionSetting>
            <i nz-icon nzType="setting"></i>
          </ng-template>
          <ng-template #actionEdit>
            <i nz-icon nzType="edit"></i>
          </ng-template>
          <ng-template #actionEllipsis>
            <i nz-icon nzType="ellipsis"></i>
          </ng-template>
    </div>
<!-- </div> -->
