<div class="column">
    <h3 class="ui top attached header">{{tag}}</h3>
    <div class="ui piled attached segment">
        <a class="ui tiny orange horizontal basic label">test 1</a>
        <a class="ui tiny orange horizontal basic label">test 2</a>
        <a class="ui tiny orange horizontal basic label">test 3</a>
        <a class="ui tiny orange horizontal basic label">test 4</a>
        <a class="ui tiny orange horizontal basic label">test 5</a>
        <a class="ui tiny orange horizontal basic label">test 6</a>
    </div>
</div>