<nz-layout>
  <nz-header>
    <menu [quill]="quill"
          [pages]="pages"
          [notebook]="noteBook"
          [hidden]="'true'"></menu>
  </nz-header>
  <nz-layout>
    <nz-sider>
      <tag-list [quill]="quill"
                [pages]="pages"></tag-list>
    </nz-sider>
    <nz-content>
      <!-- [pages] is passing main data object for this page
            (newQuillEditor) is to get the editor object -->
      <nz-tabset nzType="editable-card"
                (nzAdd)="openNewPage()"
                (nzClose)="closePage($event)">
        <nz-tab *ngFor="let pageName of pageNameList | keyvalue" 
                [nzTitle]="pageName.value"
                >
          <div nz-row nzJustify="center">
            <div nzSpan="20" nz-col>
              <toolbar [pages]="pages"
                  (newQuillEditor)="setNewQuillEditor($event)"></toolbar>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
      
      <div nz-row>
        <div nz-col>
          <!-- <button nz-button (click)="savePage(0)">Save</button> -->
        </div>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
<nz-modal [(nzVisible)]="isExportModalVisible"
          nzTitle="Export Options"
          (nzOnCancel)="exportModalCancel()"
          (nzOnOk)=export()
          [nzOkLoading]="isExportModalLoading">
          <ng-container *nzModalContent>
            <h3>Export Options</h3>
            <label nz-checkbox [(ngModel)]="isNoteBook" (click)="selectNotebook()">Notebook</label>
            <div *ngFor="let page of this.noteBook.pages">
              <button 
                      nz-button
                      [nzSize]="'large'"
                      nzShape="round"
                      (click)="updateIds(page.id.toString())"
                      style="height:60px"
                      [class]="selectClass[page.id]"
                      id="export{{page.id}}Button">
                      <span nz-icon nzType="file-word" 
                            nzTheme="outline" 
                            style="font-size: 40px;"></span>
              </button>
            </div>
            <label nz-checkbox [(ngModel)]="isSingleDocumentChecked">Single Document</label>
          </ng-container>
  
</nz-modal>
<nz-modal [(nzVisible)]="isNewPageModalVisible"
          nzTitle="Create New Page"
          (nzOnCancel)="newPageModelCancel()"
          (nzOnOk)=createNewPage()
          [nzOkLoading]="isNewPageModalLoading">
          <ng-container *nzModalContent>
            <h3>Create New Page</h3>
            <div nz row>
              <div nz-col nz-flex="6">
                <span nz-typography><strong>Title</strong></span>
              </div>    
              <div nz-col nzSpan="16">
                <input nz-input type="text" name="newPageTitle" id="newPageTitle" [(ngModel)]="newPageEntry.name">
              </div>
              <div nz-col nz-flex="6">
                <span nz-typography><strong>Type</strong></span>
              </div> 
              <div nz-col nzSpan="10">
                <input nz-input type="text" name="newPageType" id="newPageType" [(ngModel)]="newPageEntry.type">
              </div>
              <div nz-col nz-flex="6">
                <span nz-typography><strong>Date</strong></span>
              </div> 
              <div nz-col nzSpan="8">
                <input nz-input type="text" name="newPageDate" id="newPageDate" [(ngModel)]="newPageEntry.date" disabled="true" placeholder="{{dateToday}}">
              </div>
            </div>
          </ng-container>
  
</nz-modal>
<button nz-button (click)="exportMenu()">modal</button>
<div id="bridgeDiv" hidden></div>
