<!-- todo - look into making menus generic and programmatic -->
    <!-- Person tag menu options -->
    <div nz row>
        <div nz-col nzSpan="8">
          <span nz-typography><strong>Display Text</strong></span>
        </div>
        <div nz-col nzSpan="14">
          <input #name nz-input type="text" name="personNameTxtBx" id="personNameTxtBx" [(ngModel)]="personEntry.name">
        </div>
    </div>
    <!-- addition menu options that are not need as standard, currently hidden by default -->
    <!-- <div nz-row> -->
        <nz-collapse nzGhost>
            <nz-collapse-panel
                [nzHeader]="'Additional Options'"
                [nzActive]="false">

                    <div nz-col nz-flex="6">
                        <span nz-typography><strong>Notes</strong></span>
                    </div>
                    <div nz-col nz-flex="auto">
                        <textarea nz-input name="personNotesTxtAr" id="personNotesTxtAr" [(ngModel]="personEntry.notes"></textarea>
                    </div>
                    <div nz-col nz-flex="6">
                        <span nz-typography><strong>Tags</strong></span>
                    </div>
                    <div nz-col nz-flex="auto">
                        <nz-select #tagsDropDown
                            nzMode="tags"
                            nzPlaceHolder="Tags"
                            [nzOptions]="listOfTags"
                            [(ngModel)]="personEntry.misc"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <nz-option *ngFor="let tag of listOfTags"
                                [nzLabel]="tag.label"
                                [nzValue]="tag.value"></nz-option>
                        </nz-select>
                    </div>
                    <div nz-flex="6">
                        <span nz-typography><strong>Date</strong></span>
                    </div>
                    <div nz-flex="auto">
                        <input nz-input type="text" id="personDateLbl" [(ngModel)]="personEntry.date" [disabled]="true"/>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
    <!-- </div> -->


    <!-- <div nz-row>
        <div nz-col>
            <nz-collapse nzGhost>
                <nz-collapse-panel
                    [nzHeader]="'Additional Options'"
                    [nzActive]="false">
                    <div nz row>
                      <div nz-col="6">
                          <span nz-typography><strong>Notes</strong></span>
                      </div>
                      <div nz-col="auto">
                          <textarea nz-input name="personNotesTxtAr" id="personNotesTxtAr"></textarea>
                      </div>
                      </div>
                      <div nz row>
                      <div nz-col="6">
                          <span nz-typography><strong>Tags</strong></span>
                      </div>
                      <div nz-col="auto">
                          <nz-select #tagsDropDown
                                              nzMode="tags"
                                              nzPlaceHolder="Tags"
                                              [nzOptions]="listOfTags"
                                              [(ngModel)]="selectedTags"
                                              [ngModelOptions]="{standalone: true}">
                                              <nz-option *ngFor="let tag of listOfTags"
                                                  [nzLabel]="tag.label"
                                                  [nzValue]="tag.value"></nz-option>
                                          </nz-select>
                      </div>
                      </div>
                      <div nz row>
                      <div nz-col="6">
                          <span nz-typography><strong>Date</strong></span>
                      </div>
                      <div nz-col="auto">
                          <input nz-input type="text" id="personDateLbl" [(ngModel)]="dateString" [disabled]="true"/>
                      </div>
                      </div>
                  </nz-collapse-panel>
              </nz-collapse>
        </div>
    </div> -->
    <!-- <div nz-row>
        <div nz-col>
            <nz-input-group nzAddOnBefore="{{type}}">
                <input nz-input type="text" name="personNameTxtBx" id="personNameTxtBx"/>
            </nz-input-group>
        </div>
        <nz-collapse nzGhost>
            <nz-collapse-panel
                [nzHeader]="'Additional Options'"
                [nzActive]="false">
                <div nz-col>
                    <h3 nz-typography>Notes</h3>
                    <textarea nz-input rows="4" name="personNotesTxtAr" id="personNotesTxtAr"></textarea>
                </div>
                <div nz-col>
                    <h3 nz-typography>Tags</h3>
                        <nz-select #tagsDropDown
                        nzMode="tags"
                        nzPlaceHolder="Tags"
                        [nzOptions]="listOfTags"
                        [(ngModel)]="selectedTags"
                        [ngModelOptions]="{standalone: true}">
                        <nz-option *ngFor="let tag of listOfTags"
                            [nzLabel]="tag.label"
                            [nzValue]="tag.value"></nz-option>
                    </nz-select>
                </div>
                <div nz-col>

                    <h3 nz-typography>Date</h3>
                    <input nz-input type="text" id="personDateLbl" [(ngModel)]="dateString" [disabled]="true" [ngModelOptions]="{standalone: true}"/>

                </div>
            </nz-collapse-panel>
        </nz-collapse>
        <div nz-col>
            <button nz-button nzType="primary" onclick="tagSave('person')" type="button">
                Save
            </button>
        </div>
    </div> -->

    <!-- <form nz-form [formGroup]="TagData">
        <nz-form-item>
            <nz-form-label nzFor="personNameTxtBx">Display Text</nz-form-label>
            <nz-form-control>
                <input nz-input type="text" formControlName="personNameTxtBx" id="personNameTxtBx"/> -->
                <!-- <input type="hidden" name="isSelectedPerson" id="isSelectedPerson" />
                <input type="hidden" name="rangeIndexPerson" id="rangeIndexPerson" />
                <input type="hidden" name="isFromElementPerson" id="isFromElementPerson" />
                <input type="hidden" name="previousValPerson" id="previousValPerson" />
                <input type="hidden" name="personID" id="personID" /> -->
            <!-- </nz-form-control>
        </nz-form-item>
    </form>
    <nz-collapse nzGhost>
        <nz-collapse-panel
            [nzHeader]="'Additional Options'"
            [nzActive]="false">
            <form nz-form>
                <nz-form-item>
                    <nz-form-label nzFor="">Notes</nz-form-label>
                    <nz-form-control>
                        <textarea nz-input formControlName="personNotesTxtAr" id="personNotesTxtAr"></textarea>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzFor="tagsDropDown">Tags</nz-form-label>
                    <nz-select #tagsDropDown
                        nzMode="tags"
                        nzPlaceHolder="Tags"
                        [nzOptions]="listOfTags"
                        [(ngModel)]="selectedTags"
                        [ngModelOptions]="{standalone: true}">
                        <nz-option *ngFor="let tag of listOfTags"
                            [nzLabel]="tag.label"
                            [nzValue]="tag.value"></nz-option>
                    </nz-select>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzFor="personDateLbl">Date</nz-form-label>
                    <nz-form-control>
                        <input nz-input type="text" formControlName="personDateLbl"
                        [(ngModel)]="dateString" [disabled]="true" [ngModelOptions]="{standalone: true}"/>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" onclick="tagSave('person')" type="button">
                        Save
                    </button>
                </nz-form-control>
            </form> -->


    <!-- <div id="personItem"> -->
        <!-- <form nz-form> -->
            <!-- <div class="ui grid"> -->
                <!-- default view of side menu -->
                <!-- <div class="left floated ten wide column">
                    <h4 class="ui inverted dividing header">
                        Person Tag Info
                    </h4>
                </div> -->
                <!-- <div class="right floated right aligned six wide column">
                    <i class="close link icon" onclick="toggleSideBar('person', 'true')"></i>
                </div>
                <div class="ui row"></div> -->
            <!-- </div> -->



            <!-- <nz-form-item>
                <nz-form-label nzFor="personNameTxtBx">Display Text</nz-form-label>
                <nz-form-control>
                    <input nz-input type="text" name="personNameTxtBx" id="personNameTxtBx"/> -->
                    <!-- <input type="hidden" name="isSelectedPerson" id="isSelectedPerson" />
                    <input type="hidden" name="rangeIndexPerson" id="rangeIndexPerson" />
                    <input type="hidden" name="isFromElementPerson" id="isFromElementPerson" />
                    <input type="hidden" name="previousValPerson" id="previousValPerson" />
                    <input type="hidden" name="personID" id="personID" /> -->
                <!-- </nz-form-control>
            </nz-form-item> -->
            <!-- addition menu options that are not need as standard, currently hidden by default -->

                    <!-- <nz-form-item>
                        <nz-form-label nzFor="">Notes</nz-form-label>
                        <nz-form-control>
                            <textarea nz-input name="personNotesTxtAr" id="personNotesTxtAr"></textarea>
                        </nz-form-control>
                    </nz-form-item> -->


                    <!-- <nz-form-item>
                        <nz-form-label nzFor="tagsDropDown">Tags</nz-form-label>
                        <nz-select #tagsDropDown
                            nzMode="tags"
                            nzPlaceHolder="Tags"
                            [nzOptions]="listOfTags"
                            [(ngModel)]="selectedTags"
                            [ngModelOptions]="{standalone: true}">
                            <nz-option *ngFor="let tag of listOfTags"
                                [nzLabel]="tag.label"
                                [nzValue]="tag.value"></nz-option>
                        </nz-select>
                    </nz-form-item> -->

                    <!-- <nz-form-item>
                        <nz-form-label nzFor="personDateLbl">Date</nz-form-label>
                        <nz-form-control>
                            <input nz-input type="text" id="personDateLbl" [(ngModel)]="dateString" [disabled]="true" [ngModelOptions]="{standalone: true}"/>
                        </nz-form-control>

                    </nz-form-item> -->

            <!-- <nz-form-control>
                <button nz-button nzType="primary" onclick="tagSave('person')" type="button">
                    Save
                </button>
            </nz-form-control> -->

        <!-- </form> -->
    <!-- </div> -->
<!-- <div class="pusher">
    <div class="ui basic segment">
        <div quill-editor>some test word to get my going, dave dwarf ship traffic cone</div>
        <button onclick="save()">save</button>
        <button onclick="spaceBar()">space</button>
    </div>
</div> -->
