<!-- todo - look into making menus generic and programmatic -->
    <!-- Tag menu options -->
    <div nz row>
        <div nz-col nzSpan="8">
            <!-- Title chates base on what is calling this sidebar -->
            <span nz-typography><strong>{{ this.sideBarTitle | titlecase}} Tag Info</strong></span>
        </div>
        <!-- Name -->
        <div nz-col nzSpan="14">
          <input nz-input type="text" name="NameTxtBx" id="NameTxtBx" [(ngModel)]="tagEntry.name" (ngModelChange)="updateTags('name')">
        </div>
         <!-- Location for Item -->
         <div nz-col nz-flex="6" *ngIf="this.sideBarTitle == 'place'">
          <span nz-typography><strong>Location</strong></span>
      </div>
      <div nz-col nz-flex="auto" *ngIf="this.sideBarTitle == 'place'">
          <input nz-input type="text" name="locationTxtBx" id="locationTxtBx" [(ngModel)]="tagEntry.location"
          (ngModelChange)="updateTags('location')">
      </div>
      <!-- Area for Item -->
      <div nz-col nz-flex="6" *ngIf="this.sideBarTitle == 'place'">
          <span nz-typography><strong>Area</strong></span>
      </div>
      <div nz-col nz-flex="auto" *ngIf="this.sideBarTitle == 'place'">
          <input nz-input type="text" name="areaTxtBx" id="areaTxtBx" [(ngModel)]="tagEntry.area"
          (ngModelChange)="updateTags('area')">
      </div>
      <!-- Item types dropdown  -->
      <div nz-col nz-flex="6" *ngIf="this.sideBarTitle == 'item'">
          <span nz-typography><strong>Item Type</strong></span>
      </div>
      <div nz-col nz-flex="auto" *ngIf="this.sideBarTitle == 'item'">
          <nz-select #itemTypeDropDown
              nzMode="tags"
              nzPlaceHolder="Tags"
              [nzOptions]="listOfItemTypes"
              [(ngModel)]="tagEntry.itemtype"
              [ngModelOptions]="{standalone: true}"
              style="width: 100%;"
              (ngModelChange)="updateTags('item')">
              <nz-option *ngFor="let tag of listOfItemTypes"
                  [nzLabel]="tag.label"
                  [nzValue]="tag.value"></nz-option>
          </nz-select>
      </div>
    </div>
    <!-- addition menu options that are not need as standard, currently hidden by default -->
    <!-- <div nz-row> -->
        <nz-collapse nzGhost>
            <nz-collapse-panel
                [nzHeader]="'Additional Options'"
                [nzActive]="false">

                    <!-- Notes for any tag type-->
                    <div nz-col nz-flex="6">
                        <span nz-typography><strong>Notes</strong></span>
                    </div>
                    <div nz-col nz-flex="auto">
                        <textarea nz-input name="notesTxtAr" id="notesTxtAr" [(ngModel)]="tagEntry.notes"></textarea>
                    </div>
                    <!-- Additional tags for all tags  -->
                    <div nz-col nz-flex="6">
                        <span nz-typography><strong>Tags</strong></span>
                    </div>
                    <div nz-col nz-flex="auto">
                        <nz-select #tagsDropDown
                            nzMode="tags"
                            nzPlaceHolder="Tags"
                            [nzOptions]="listOfTags"
                            [(ngModel)]="tagEntry.misc"
                            [ngModelOptions]="{standalone: true}"
                            style="width: 100%;">
                            <nz-option *ngFor="let tag of listOfTags"
                                [nzLabel]="tag.label"
                                [nzValue]="tag.value"></nz-option>
                        </nz-select>
                    </div>
                    <!-- Date for all tags -->
                    <div nz-flex="6">
                        <span nz-typography><strong>Date</strong></span>
                    </div>
                    <div nz-flex="auto">
                        <input nz-input type="text" id="dateLbl" [(ngModel)]="tagEntry.date" [disabled]="true"/>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        <div nz-col>
            <button nz-button nzType="primary" (click)="tagSave()" type="button">
                Save
            </button>
        </div>
