
<nz-layout>
  <nz-header></nz-header>
    <nz-layout>
    <nz-sider>
      <nz-card 
                id="tagCard"
                >
        <button class="globalTag widget"
                  *ngFor="let tag of tags"
                  id="{{tag.id}}"
                  nzTooltipTitle="{{tag.type}}"m
                  nzTooltipPosition="left"
                  (click)="selectTags( tag.id)"
                  nz-tooltip>
                <img [src]="icons.getSrc('tag')"/>{{tag.name}}
          </button>
      </nz-card>
    </nz-sider>
    <nz-content>
      {{tagStrings}}
      <!-- <ul nz-menu [nzMode]="'vertical'">
        <li nz-menu-item *ngFor="let tags of pageTagList | keyvalue">
          <button class="tabMarker" (click)="selectCard(tags.key +'Card')">{{tags.key}}</button>
        </li>
      </ul> -->
    </nz-content>
  </nz-layout>
  <nz-footer></nz-footer>
</nz-layout>
  
