.tag:before {
  background: #F8D512;
}

/* ------------------------------- */

/* ---Person tag button active --------------*/

.tagActive {
  color: #fff;
  background: transparent;

}

.tagActive:before {
  background: linear-gradient(45deg, #fafa6e, #faf668,  #f9f261,  #f9ee5a,  #f9ea54,  #f9e74d,  #f9e346,  #f8df3f,  #f8db38,  #f8d630,  #f8d228,  #f8ce1e,  #f8ca12);

}

.tagActive:after {
    background: transparent;
}



/* ------------------------------- */

/* ------------- Person highlight--------------- */
/* Kocsten CSS Button Hover Glow Effect */
.highlight.tagGlow {
  background: transparent;

}

.tagGlow:before {
  background: linear-gradient(45deg, #fafa6e, #faf668,  #f9f261,  #f9ee5a,  #f9ea54,  #f9e74d,  #f9e346,  #f8df3f,  #f8db38,  #f8d630,  #f8d228,  #f8ce1e,  #f8ca12);
}

.highlight.tagGlow:after {
    background: transparent;
}
/* ------------------------------ */
