/* You can add global styles to this file, and also import other style files */
@import "~quill/dist/quill.snow.css";
@import "css/person.css";
@import "css/place.css";
@import "css/item.css";
@import "css/misc.css";

:root {
  --tagButonColor: black;
  --header: #828282;
}

.ql-container {
  height: 500px;
}
.ql-toolbar {
  background-color: var(--header);
}

/* Geoff Graham Squiggle effect on code penn used on all reference*/

.reference {
  background-color: transparent;
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border: none;
  position: relative;
  /* color: #008080; or #3D91E0 */
  /* color:#3D91E0; */
  transition: all 0.3s ease-in-out;
}

.widget,
.highlight {
  border: none;
  outline: none;
  background: var(--tagButonColor);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 2.5px;
}

.widget::before,
.highlight::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  animation: glowing 20s linear infinite;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);

  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.widget:after,
.highlight::after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--tagButonColor);
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* maybe add a ReferenceHighlighted class to cover the tranparent background*/

.ant-card-body {
  height: 150px;
  overflow-y: auto;
}

.ant-card-head {
  background-color: var(--header);
}

/* tooltip from Omar Dsooky - CSSToolTip Smooth animation on codepen */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: 0.4;

  width: 250px;
  padding: 0px 20px;
  color: white;

  position: absolute;
  top: -140%;
  left: -25%;

  border-radius: 9px;
  /* font: 16px; */

  transform: translateY(9px);
  transition: all 0.3s ease-in-out;

  box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}

.btn-select {
  color: #141414;
  background: #177ddc;
}

.btn-select:focus {
  color: #141414;
  background: #177ddc;
}

.btn-select:hover {
  color: #fff;
  background: #177ddc;
}

/*bottom*/

.bottom .tooltip {
  top: 115%;
  left: -20%;
}

.bottom .tooltip::after {
  top: -17%;
  left: 40%;
  transform: rotate(180deg);
}

.tooltipTable {
  border: transparent;
  text-align: left;
}

.closed {
  display: none;
}

.close {
  /* display: block;
  opacity: 0;
  transition: opacity 1s linear; */
  animation: closing forwards 0.75s linear 1;
}

.open {
  display: block;
  width: 0;
  min-width: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  animation: opening forwards 1s linear 1;
  /* animation-delay: 0.5s; */
}

@keyframes closing {
  0% {
    transform: scale(1);
    width: 250px;
    min-width: 250px;
    opacity: 1;
    transform-origin: 125px 125px;
  }
  25% {
    transform: scale(0.75);
    opacity: 0.75;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  75% {
    transform: scale(0.25);
    opacity: 0.25;
  }
  100% {
    width: 0;
    min-width: 0;
    transform: scale(0);
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}

@keyframes opening {
  1000% {
    transform: scale(1);
    width: 250px;
    min-width: 250px;
    opacity: 1;
    transform-origin: 125px 125px;
  }
  75% {
    transform: scale(0.8);
    opacity: 0.75;
  }
  50% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  25% {
    transform: scale(0.4);
    opacity: 0.25;
  }
  0% {
    width: 0;
    min-width: 0;
    transform: scale(0.2);
    opacity: 0;
    padding: 0;
    margin: 0;
    /* visibility: visible; */
  }
}
