/* You can add global styles to this file, and also import other style files */
@import '~quill/dist/quill.snow.css';


.person {
  /* Geoff Graham Squiggle effect on code penn*/
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .75s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23008080' stroke-width='.5' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
  border: none;
  position: relative;
    /* color: #008080; */
  transition: all 0.3s ease-in-out;
}
/* ---Person tag button non active --------------*/

.personTagButton {
  border: none;
  outline: none;
  /* color: #fff; */
  background: #fff; 
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin: 2.5px;
  
}

.personTagButton:before {
  content: '';
  /* background: linear-gradient(45deg, #fafa6e,#d5f071,#b2e576,#91d87b,#73cb81,#56bd85,#3bae88,#229f88,#099085,#008080, #02797e, #09727a); */
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: #008080;
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

.personTagButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* ------------------------------- */

/* ---Person tag button active --------------*/

.personTagButtonActive {
  border: none;
  outline: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
}

.personTagButtonActive:before {
  content: '';
  background: linear-gradient(45deg, #fafa6e,#d5f071,#b2e576,#91d87b,#73cb81,#56bd85,#3bae88,#229f88,#099085,#008080, #02797e, #09727a);
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

.personTagButtonActive:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* ------------------------------- */


/* ------------- Person highlight--------------- */
/* Kocsten CSS Button Hover Glow Effect */
.personHighlight {
  border: none;
  outline: none;
  /* color: #fff; */
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
}

.personHighlight:before {
  content: '';
  background: linear-gradient(45deg, #fafa6e,#d5f071,#b2e576,#91d87b,#73cb81,#56bd85,#3bae88,#229f88,#099085,#008080, #02797e, #09727a);
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}

.personHighlight:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
/* ------------------------------ */

button.place {
    border: none;
    color: #FE9A76;
    border-bottom: 1px dotted;
    border-bottom-color: #FE9A76;
    background-color: white;
}

button.equipment {
    border: none;
    color: #016936;
    border-bottom: 1px dotted;
    border-bottom-color: #016936;
    background-color: white;
}

button.misc {
    border: none;
    color: #B413EC;
    border-bottom: 1px dotted;
    border-bottom-color: #B413EC;
    background-color: white;
}

#editor {
    height: 375px;
  }

#personWidget{
    max-height: 125px;
    overflow-y: auto;
}
html, body {
  height: 100%;
}


/* tooltip from Omar Dsooky - CSSToolTip Smooth animation on codepen */
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;

    width: 150px;
    padding: 0px 20px;

    background: #333;

    position: absolute;
    top:-140%;
    left: -25%;


    border-radius: 9px;
    /* font: 16px; */

    transform: translateY(9px);
    transition: all 0.3s ease-in-out;

    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


.person:hover .tooltip{

    color: #008080;
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;

}

.personHighlight:hover .tooltip{

  color: #008080;
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
  transition: .3s linear;
  animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
    0%{
    transform: translateY(6px);
    }

    100%{
    transform: translateY(1px);
    }

}

/*bottom*/

.bottom .tooltip { top:115%; left:-20%; }

.bottom .tooltip::after{
    top:-17%;
    left:40%;
    transform: rotate(180deg);
}
