
<nz-collapse nzAccordion>
    <nz-collapse-panel nzHeader="New Page" nzActive="true" (nzActiveChange)="updateActivePanel('new')">
    <h3>Create New Page</h3>
    <div nz row>
        <div nz-col nz-flex="6">
            <span nz-typography><strong>Title</strong></span>
        </div>    
        <div nz-col nzSpan="16">
            <input nz-input type="text" name="newPageTitle" id="newPageTitle" [(ngModel)]="newPageEntry.name">
        </div>
        <div nz-col nz-flex="6">
            <span nz-typography><strong>Date</strong></span>
        </div> 
        <div nz-col nzSpan="8">
            <input nz-input type="text" name="newPageDate" id="newPageDate" [(ngModel)]="newPageEntry.date" disabled="true" placeholder="{{dateToday}}">
        </div>
    </div>
    </nz-collapse-panel>
    <!-- <span nz-tooltip nzTooltipTitle="All Pages open"> -->
    <nz-collapse-panel nzHeader="Open Page" [nzDisabled]="isAllPagesOpen" (nzActiveChange)="updateActivePanel('open')">
      <!-- <nz-collapse-panel nzHeader="Open Page" (nzActiveChange)="updateActivePanel(false)"> -->
        <div nz-row>
            <div nz-col nzSpan="8">
            <span nz-typography><strong>Open Saved Pages</strong></span>
        </div>
        <div nz-col nzSpan="8">
            <span nz-typography>Select any option below that does not already checked</span>
        </div>
        <div nz-col nzSpan="14">
            <nz-list nzItemLayout="horizontal">
            <nz-list-item *ngFor="let page of pages | openPageFilter">
                <nz-list-item-meta
                nzAvatar="https://img.icons8.com/ios-glyphs/50/848484/magical-scroll.png"
                nzDescription="{{page.name}}">
                <nz-list-item-meta-title>
                    <a (click)="checkPageToBeOpened(page.id.toString())">Click to Select for opening</a>
                </nz-list-item-meta-title>
                </nz-list-item-meta>
                <nz-list-item-extra>
                <span nz-icon nzType="plus-square"
                      nzTheme="twotone" 
                      [nzTwotoneColor]="'#ff004f'"
                      style="font-size: 30px;"
                      id="uncheckedPageOption{{page.id}}" 
                      (click)="checkPageToBeOpened(page.id.toString())"></span>
                <span nz-icon nzType="check-square" 
                      nzTheme="twotone" 
                      [nzTwotoneColor]="'#52c41a'"
                      style="font-size: 30px;"
                      id="checkedPageOption{{page.id}}"
                      (click)="checkPageToBeOpened(page.id.toString())"></span>
                </nz-list-item-extra>
            </nz-list-item>
            </nz-list>
        </div>
        </div>
    </nz-collapse-panel>
    <!-- </span> -->
</nz-collapse>
